.main {
    min-height: calc(100vh - 55px - 78px);
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardsuccess {
    width: 600px;
}

.cardsuccess h3 {
    color: #00ff00;
}

.carddanger h3 {
    color: red;
}